*{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}
.frutitas{
    color: brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}

header{
color: pink;
}
body{
    background-color: gray
}
a{
    size: 10px;
}
#main-nav li{
    background-color: chocolate;
    padding: 10px;
    color: white;
    border-radius: 3px;
    text-decoration: coral;
    size: 10px;
    
} 