* {
    box-sizing: border-box;
    padding: 0;
    margin: 0%;
}
html {
    font-size: 62.5;

}

. header #superior {
    background-color: pink;

}

main {

    background-color: purple;
}

aside {

    background-color: orange;
    flex-direction: column; right: 370px;
}